.DS_Store
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
node_modules
*.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/
/target/

